# Node modules
node_modules/

# Logs
logs/
*.log

# Runtime data
pids/
*.pid
*.pid.lock

# dotenv environment variables file
.env

# npm debug file
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# Build files
dist/
build/
